### EDA & Feature Engineering using Flight Price Dataset:

In [1]:
# Import basic library:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df= pd.read_excel('Flight Price.xlsx')

In [3]:
df.head(3)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included

In [4]:
df.tail(3)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info

In [5]:
df.shape

(2671, 10)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2671 entries, 0 to 2670
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          2671 non-null   object
 1   Date_of_Journey  2671 non-null   object
 2   Source           2671 non-null   object
 3   Destination      2671 non-null   object
 4   Route            2671 non-null   object
 5   Dep_Time         2671 non-null   object
 6   Arrival_Time     2671 non-null   object
 7   Duration         2671 non-null   object
 8   Total_Stops      2671 non-null   object
 9   Additional_Info  2671 non-null   object
dtypes: object(10)
memory usage: 208.8+ KB

#### Feature Engineering Process:

In [7]:
# Here we will split the Date_of_journey column into Date, Month, Year

In [8]:
df['Date']= df['Date_of_Journey'].str.split('/').str[0]
df['Month']= df['Date_of_Journey'].str.split('/').str[1]
df['Year']= df['Date_of_Journey'].str.split('/').str[2]

In [9]:
df.head(3)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Date,Month,Year
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info,6,06,2019
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,12,05,2019
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included,21,05,2019

In [10]:
# We can also use lambda function to split these columns.
# df['Date']= df['Date_of_Journey'].apply(lambda x: x.split('/').str[0])
# df['Month']= df['Date_of_Journey'].apply(lambda x: x.split('/').str[1])
# df['Year']= df['Date_of_Journey'].apply(lambda x: x.split('/').str[2])

In [11]:
# Change dtype of Date, Month, Year columns into int.

In [12]:
df['Date']= df['Date'].astype(int)
df['Month']= df['Month'].astype(int)
df['Year']= df['Year'].astype(int)

In [13]:
df['Date'].dtype, df['Month'].dtype, df['Year'].dtype

(dtype('int32'), dtype('int32'), dtype('int32'))

In [14]:
# Drop the Date_of_Journey column.

In [15]:
df.drop('Date_of_Journey', axis=1, inplace=True)

In [16]:
df.head(3)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Date,Month,Year
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info,6,6,2019
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,12,5,2019
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included,21,5,2019

In [17]:
# Split the Arrival_Time column into Hours and Minutes.

In [18]:
df['Arrival_Time']= df['Arrival_Time'].apply(lambda x: x.split(' ')[0])

In [19]:
df['Arrival_hour']= df['Arrival_Time'].str.split(':').str[0]
df['Arrival_min']= df['Arrival_Time'].str.split(':').str[1]

In [20]:
df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Date,Month,Year,Arrival_hour,Arrival_min
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,17:30,04:25,10h 55m,1 stop,No info,6,6,2019,04,25
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,12,5,2019,10,20

In [21]:
df['Arrival_hour']= df['Arrival_hour'].astype(int)
df['Arrival_min']= df['Arrival_min'].astype(int)

In [22]:
df['Arrival_hour'].dtype, df['Arrival_min'].dtype

(dtype('int32'), dtype('int32'))

In [23]:
# Drop the Arrival_Time column

In [24]:
df.drop('Arrival_Time', axis=1, inplace=True)

In [25]:
df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Date,Month,Year,Arrival_hour,Arrival_min
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,17:30,10h 55m,1 stop,No info,6,6,2019,4,25
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,06:20,4h,1 stop,No info,12,5,2019,10,20

In [26]:
# Split the Dep_Time:

In [27]:
df['Dep_hour']= df['Dep_Time'].str.split(':').str[0]
df['Dep_min']= df['Dep_Time'].str.split(':').str[1]
df['Dep_hour']= df['Dep_hour'].astype(int)
df['Dep_min']= df['Dep_min'].astype(int)
df.drop(['Dep_Time'], axis=1, inplace=True)

In [28]:
df.head(3)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,10h 55m,1 stop,No info,6,6,2019,4,25,17,30
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,4h,1 stop,No info,12,5,2019,10,20,6,20
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,23h 45m,1 stop,In-flight meal not included,21,5,2019,19,0,19,15

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2671 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          2671 non-null   object
 1   Source           2671 non-null   object
 2   Destination      2671 non-null   object
 3   Route            2671 non-null   object
 4   Duration         2671 non-null   object
 5   Total_Stops      2671 non-null   object
 6   Additional_Info  2671 non-null   object
 7   Date             2671 non-null   int32
 8   Month            2671 non-null   int32
 9   Year             2671 non-null   int32
 10  Arrival_hour     2671 non-null   int32
 11  Arrival_min      2671 non-null   int32
 12  Dep_hour         2671 non-null   int32
 13  Dep_min          2671 non-null   int32
dtypes: int32(7), object(7)
memory usage: 219.2+ KB

In [30]:
# Convert categorical variable into int using map function.

In [31]:
df['Total_Stops'].unique()

array(['1 stop', 'non-stop', '2 stops', '3 stops', '4 stops'],
      dtype=object)

In [32]:
df['Total_Stops']= df['Total_Stops'].map({'non-stop':0,'1 stop':1, '2 stops':2, '3 stops':3, '4 stops':4})

In [33]:
df['Total_Stops'].unique()

array([1, 0, 2, 3, 4], dtype=int64)

In [35]:
df[df['Total_Stops'].isnull()]

Empty DataFrame
Columns: [Airline, Source, Destination, Route, Duration, Total_Stops, Additional_Info, Date, Month, Year, Arrival_hour, Arrival_min, Dep_hour, Dep_min]
Index: []

In [38]:
# Drop Route column
df.drop('Route', axis=1, inplace=True)

In [40]:
df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Long layover', 'Business class',
       'Change airports'], dtype=object)

In [41]:
df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min
0,Jet Airways,Delhi,Cochin,10h 55m,1,No info,6,6,2019,4,25,17,30
1,IndiGo,Kolkata,Banglore,4h,1,No info,12,5,2019,10,20,6,20
2,Jet Airways,Delhi,Cochin,23h 45m,1,In-flight meal not included,21,5,2019,19,0,19,15
3,Multiple carriers,Delhi,Cochin,13h,1,No info,21,5,2019,21,0,8,0
4,Air Asia,Banglore,Delhi,2h 50m,0,No info,24,6,2019,2,45,23,55

In [42]:
# Split only duration_hour by 'Duration' column.
df['duration_hour']= df['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [43]:
df['duration_hour']

0       10
1        4
2       23
3       13
4        2
        ..
2666    23
2667     2
2668     6
2669    15
2670    14
Name: duration_hour, Length: 2671, dtype: object

In [46]:
df['duration_hour'].unique()

array(['10', '4', '23', '13', '2', '18', '15', '5', '6', '28', '9', '17',
       '12', '14', '11', '25', '19', '7', '3', '1', '27', '26', '8', '21',
       '16', '22', '33', '24', '38', '20', '35', '31', '34', '29', '30',
       '37', '36', '39', '32', '40', '5m'], dtype=object)

In [47]:
df[df['duration_hour']=='5m']

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min,duration_hour
2660,Air India,Mumbai,Hyderabad,5m,2,No info,12,3,2019,16,55,16,50,5m

In [48]:
df.drop(2660, axis=0, inplace=True)

In [49]:
df[df['duration_hour']=='5m']

Empty DataFrame
Columns: [Airline, Source, Destination, Duration, Total_Stops, Additional_Info, Date, Month, Year, Arrival_hour, Arrival_min, Dep_hour, Dep_min, duration_hour]
Index: []

In [50]:
df['duration_hour']= df['duration_hour'].astype(int)

In [51]:
df.drop('Duration', axis=1, inplace=True)

In [52]:
df.head(3)

,Airline,Source,Destination,Total_Stops,Additional_Info,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min,duration_hour
0,Jet Airways,Delhi,Cochin,1,No info,6,6,2019,4,25,17,30,10
1,IndiGo,Kolkata,Banglore,1,No info,12,5,2019,10,20,6,20,4
2,Jet Airways,Delhi,Cochin,1,In-flight meal not included,21,5,2019,19,0,19,15,23

In [53]:
df.shape

(2670, 13)

In [54]:
df['Airline'].unique()

array(['Jet Airways', 'IndiGo', 'Multiple carriers', 'Air Asia',
       'Air India', 'Vistara', 'SpiceJet', 'Vistara Premium economy',
       'GoAir', 'Multiple carriers Premium economy',
       'Jet Airways Business'], dtype=object)

#### Now we will change all categorical variable into integer using LabelEncoder.

In [55]:
from sklearn.preprocessing import LabelEncoder

In [56]:
le= LabelEncoder()

In [58]:
df['Airline']= le.fit_transform(df['Airline'])
df['Source']= le.fit_transform(df['Source'])
df['Destination']= le.fit_transform(df['Destination'])
df['Additional_Info']= le.fit_transform(df['Additional_Info'])

In [59]:
df.shape

(2670, 13)

In [60]:
df.head(3)

,Airline,Source,Destination,Total_Stops,Additional_Info,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min,duration_hour
0,4,2,1,1,5,6,6,2019,4,25,17,30,10
1,3,3,0,1,5,12,5,2019,10,20,6,20,4
2,4,2,1,1,3,21,5,2019,19,0,19,15,23

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2670 entries, 0 to 2670
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          2670 non-null   int32
 1   Source           2670 non-null   int32
 2   Destination      2670 non-null   int32
 3   Total_Stops      2670 non-null   int64
 4   Additional_Info  2670 non-null   int32
 5   Date             2670 non-null   int32
 6   Month            2670 non-null   int32
 7   Year             2670 non-null   int32
 8   Arrival_hour     2670 non-null   int32
 9   Arrival_min      2670 non-null   int32
 10  Dep_hour         2670 non-null   int32
 11  Dep_min          2670 non-null   int32
 12  duration_hour    2670 non-null   int32
dtypes: int32(12), int64(1)
memory usage: 166.9 KB

In [ ]:
     #END#